* {
  margin: 0;
  padding: 0;
  font-family: "Clash Display";
  color: #ffffff;
  box-sizing: border-box;
}

body {
  background-color: #000000;
}

.navbar .logo h3 {
  font-size: 2.8rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 2.5% 4% 5% 4%;
}

.nav-bar-wrapper ul {
  flex-direction: column;
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.nav-bar-wrapper ul li {
  margin-left: 60px;
}
.nav-bar-wrapper ul li a {
  font-size: 1.75rem;
  text-decoration: none;
}

.banner-description {
  margin-bottom: 5%;
}
.banner-description h4 {
  display: flex;
  justify-content: center;
  font-weight: 300;
  color: #9E9E9E;
  font-size: 1.75rem;
}

.header-content {
  margin: 2.5% 4% 5% 4%;
}

.header-title h4 {
  color: #dd0606;
  font-size: 1.75rem;
  font-weight: 500;
}
.header-title hr {
  background-color: #dd0606;
  height: 2px;
  border: none;
}

.suggestion-content {
  margin: 2.5% 4% 5% 4%;
}

.header-title {
  margin-bottom: 3%;
}

.suggestions-wrapper {
  display: flex;
  justify-content: space-between;
}
.suggestions-wrapper .suggestion-box {
  margin-top: 6%;
}
.suggestions-wrapper .suggestion-box-wrapper h4 {
  color: #dd0606;
  font-size: 1.75rem;
  font-weight: 500;
}
.suggestions-wrapper .suggestion-box-wrapper hr {
  background-color: #dd0606;
  height: 2px;
  border: none;
}

.footer-content {
  margin: 2.5% 4% 5% 4%;
}
.footer-content .footer-wrapper {
  display: flex;
  justify-content: space-between;
}
.footer-content .footer-wrapper h4 {
  font-size: 1rem;
  font-weight: 500;
}

.mangas-first-row-container, .mangas-second-row-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
}

.mangas-first-row-container a, .mangas-second-row-container a {
  text-decoration: none;
}

.manga-title-price h3 {
  font-size: 1.75rem;
  font-weight: 400;
  line-height: normal;
}

.manga-description h6 {
  font-size: 0.7rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #9E9E9E;
}

.filter-container {
  margin-bottom: 5%;
}
.filter-container select, .filter-container button {
  height: 40px;
  width: 250px;
  margin-right: 10px;
}
.filter-container select {
  border: #000000 solid 1px;
  color: #000000;
  padding-left: 10px;
  padding-right: 10px;
}
.filter-container button {
  background-color: #000000;
  border: #ffffff solid 1px;
  color: #ffffff;
}

.manga__detail_container p {
  width: 50%;
}

.manga__detail__description {
  width: 75%;
  margin: auto;
  margin-bottom: 15vh;
}
.manga__detail__description h2 {
  padding-bottom: 20px;
}
.manga__detail__description h3 {
  padding-bottom: 20px;
}
.manga__detail__description p {
  padding-bottom: 20px;
  color: #9E9E9E;
}
.manga__detail__description .checked {
  color: #f6e200;
}
.manga__detail__description .manga__title {
  font-size: 2.8rem;
}
.manga__detail__description .price__tag {
  font-size: 2.3rem;
}

.item__container {
  display: flex;
  justify-content: space-around;
}

.button__container {
  margin-top: 20px;
}
.button__container button {
  background-color: #ffffff;
  border: #000000 solid 1px;
  color: #000000;
  height: 40px;
  width: 250px;
}

.login-content {
  display: flex;
  justify-content: center;
  margin-bottom: 15%;
}
.login-content button {
  background-color: #ffffff;
  border: #000000 solid 1px;
  color: #000000;
  height: 40px;
  width: 250px;
}
.login-content input {
  border: #000000 solid 1px;
  color: #000000;
  padding-left: 10px;
  padding-right: 10px;
  height: 40px;
  width: 250px;
}
.login-content p {
  margin-bottom: 15px;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .mangas-first-row-container,
  .mangas-second-row-container {
    flex-direction: column;
    align-items: center;
  }
  .manga-content-holder {
    margin-bottom: 20px; /* Adjust the spacing between manga content holders */
  }
  .suggestions-wrapper {
    flex-direction: column;
  }
  .suggestions-wrapper img {
    width: 100%;
  }
  .navbar .logo h3 {
    font-size: 1.75rem;
  }
  .mangas-container {
    flex-direction: column;
  }
  .mangas-container img {
    width: 100%;
  }
  .footer-wrapper {
    flex-direction: column;
  }
  .filter-container {
    display: flex;
  }
  .item__container {
    flex-direction: column;
  }
  .item__container img {
    width: 100%;
  }
}
.pagination {
  display: flex;
  margin-top: 2.5vh;
  justify-content: center;
}
.pagination .pagination__item {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ffffff;
  margin: 0 5px;
  cursor: pointer;
}
.pagination .pagination__item:hover {
  background-color: #000000;
  color: #f6e200;
}

.navbar .logo h3 {
  font-size: 2.8rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 2.5% 4% 5% 4%;
}

.shopping-cart {
  color: #000000;
  height: 30px;
  width: 150px;
  background-color: white;
}

.nav-bar-wrapper ul {
  flex-direction: column;
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.nav-bar-wrapper ul li {
  margin-left: 60px;
}
.nav-bar-wrapper ul li a {
  font-size: 1.75rem;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .navbar .logo h3 {
    font-size: 1.75rem;
  }
}
.navbar .logo h3 {
  font-size: 2.8rem;
}

.top-mangas-wrapper .filter-container {
  color: #000000;
  font-size: 20px;
  margin: 30px 0 30px 0;
}
.top-mangas-wrapper .pagination {
  color: #000000;
  font-size: 20px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.top-mangas-wrapper .pagination div {
  padding: 10px;
  display: inline;
}
.top-mangas-wrapper .pagination div .pagination__item.active {
  background-color: #000000;
  color: #dd0606;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 2.5% 4% 5% 4%;
}

.nav-bar-wrapper ul {
  flex-direction: column;
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.nav-bar-wrapper ul li {
  margin-left: 60px;
}
.nav-bar-wrapper ul li a {
  font-size: 1.75rem;
  text-decoration: none;
}

.banner-description {
  margin-bottom: 5%;
}
.banner-description h4 {
  display: flex;
  justify-content: center;
  font-weight: 300;
  color: #9E9E9E;
  font-size: 1.75rem;
}

.header-content {
  margin: 2.5% 4% 5% 4%;
}

.header-title h4 {
  color: #dd0606;
  font-size: 1.75rem;
  font-weight: 500;
}
.header-title hr {
  background-color: #dd0606;
  height: 2px;
  border: none;
}

.mangas-container {
  display: flex !important;
  justify-content: space-between !important;
  margin-top: 3% !important;
  flex-wrap: wrap !important;
}

.header-title {
  margin-bottom: 3%;
}

.mangas-first-row-container, .mangas-second-row-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 5%;
}

.mangas-first-row-container a, .mangas-second-row-container a {
  text-decoration: none;
}

.manga-title-price h3 {
  font-size: 1.75rem;
  font-weight: 400;
  line-height: normal;
}

.manga-description h6 {
  font-size: 0.7rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #9E9E9E;
}

.filter-container {
  margin-bottom: 5%;
}
.filter-container select, .filter-container button {
  height: 40px;
  width: 250px;
  margin-right: 10px;
}
.filter-container select {
  border: #000000 solid 1px;
  color: #000000;
  padding-left: 10px;
  padding-right: 10px;
}
.filter-container button {
  background-color: #000000;
  border: #ffffff solid 1px;
  color: #ffffff;
}

.manga__detail_container p {
  width: 50%;
}

.manga__detail__description {
  width: 75%;
  margin: auto;
  margin-bottom: 15vh;
}
.manga__detail__description h2 {
  padding-bottom: 20px;
}
.manga__detail__description h3 {
  padding-bottom: 20px;
}
.manga__detail__description p {
  padding-bottom: 20px;
  color: #9E9E9E;
}
.manga__detail__description .checked {
  color: #f6e200;
}
.manga__detail__description .manga__title {
  font-size: 2.8rem;
}
.manga__detail__description .price__tag {
  font-size: 2.3rem;
}

.item__container {
  display: flex;
  justify-content: space-around;
}

.button__container {
  margin-top: 20px;
}
.button__container button {
  background-color: #ffffff;
  border: #000000 solid 1px;
  color: #000000;
  height: 40px;
  width: 250px;
}

.login-content {
  display: flex;
  justify-content: center;
  margin-bottom: 15%;
}
.login-content button {
  background-color: #ffffff;
  border: #000000 solid 1px;
  color: #000000;
  height: 40px;
  width: 250px;
}
.login-content input {
  border: #000000 solid 1px;
  color: #000000;
  padding-left: 10px;
  padding-right: 10px;
  height: 40px;
  width: 250px;
}
.login-content p {
  margin-bottom: 15px;
}

.manga-content-holder {
  margin-bottom: 50px;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .mangas-first-row-container,
  .mangas-second-row-container {
    flex-direction: column;
    align-items: center;
  }
  .manga-content-holder {
    margin-bottom: 50px;
  }
  .suggestions-wrapper {
    flex-direction: column;
  }
  .suggestions-wrapper img {
    width: 100%;
  }
  .navbar .logo h3 {
    font-size: 1.75rem;
  }
  .mangas-container {
    flex-direction: column;
  }
  .mangas-container img {
    width: 100%;
  }
  .footer-wrapper {
    flex-direction: column;
  }
  .filter-container {
    display: flex;
  }
  .item__container {
    flex-direction: column;
  }
  .item__container img {
    width: 100%;
  }
}
.pagination {
  display: flex;
  margin-top: 2.5vh;
  justify-content: center;
}
.pagination .pagination__item {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ffffff;
  margin: 0 5px;
  cursor: pointer;
}
.pagination .pagination__item:hover {
  background-color: #000000;
  color: #f6e200;
}

.contact-form {
  margin: 2.5% 4% 5% 4%;
  width: 75%;
}

.contact-form h2 {
  margin-bottom: 15px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #dd0606;
  color: #fff;
  cursor: pointer;
}

.manga-title-price h3 {
  font-size: 1.75rem;
  font-weight: 400;
  line-height: normal;
}

.manga-description h6 {
  font-size: 0.7rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #9E9E9E;
}

.filter-container {
  margin-bottom: 5%;
}
.filter-container select, .filter-container button {
  height: 40px;
  width: 250px;
  margin-right: 10px;
}
.filter-container select {
  border: #000000 solid 1px;
  color: #000000;
  padding-left: 10px;
  padding-right: 10px;
}
.filter-container button {
  background-color: #000000;
  border: #ffffff solid 1px;
  color: #ffffff;
}

.manga__detail_container p {
  width: 50%;
}

.manga__detail__description {
  width: 75%;
  margin: auto;
  margin-bottom: 15vh;
}
.manga__detail__description h2 {
  padding-bottom: 20px;
}
.manga__detail__description h3 {
  padding-bottom: 20px;
}
.manga__detail__description p {
  padding-bottom: 20px;
  color: #9E9E9E;
}
.manga__detail__description .checked {
  color: #f6e200;
}
.manga__detail__description .manga__title {
  font-size: 2.8rem;
}
.manga__detail__description .price__tag {
  font-size: 2.3rem;
}

.item__container {
  display: flex;
  justify-content: space-around;
}

.button__container {
  margin-top: 20px;
}
.button__container button {
  background-color: #ffffff;
  border: #000000 solid 1px;
  color: #000000;
  height: 40px;
  width: 250px;
}

@media screen and (max-width: 768px) {
  .manga-content-holder {
    margin-bottom: 20px;
  }
  .mangas-container {
    flex-direction: column;
  }
  .mangas-container img {
    width: 100%;
  }
  .filter-container {
    display: flex;
  }
  .item__container {
    flex-direction: column;
  }
  .item__container img {
    width: 100%;
  }
}
.pagination {
  display: flex;
  margin-top: 2.5vh;
  justify-content: center;
}
.pagination .pagination__item {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ffffff;
  margin: 0 5px;
  cursor: pointer;
}
.pagination .pagination__item:hover {
  background-color: #000000;
  color: #f6e200;
}

.producten-block {
  display: flex;
  justify-content: space-between;
}

#elc-cookie-consent {
  background-color: #0d0d0d;
}

/*# sourceMappingURL=main.css.map */
