<!-- templates/home.twig -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>MANGAZINE - Home</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
{% hook 'after-body-start' %}
{% include '_snippets/_header.twig' %}

{% block content %}

{% endblock %}

{% include '_snippets/_footer.twig' %}
</body>
</html>
